<!-- Web Pages Table -->

<div class="container">

    <div style="margin-top: 10px;">
        <div class="pull-right">
            <button class="btn btn-success" style="margin-bottom: 5px;" ng-click="download()">Download CSV File</button>
        </div>
        <div class="btn-group">
            <button class="btn btn-filter" ng-model="filterBy" uib-btn-radio="'pending'">
                Pending <span class="badge" ng-if="summary.pending" ng-bind="summary.pending"></span>
            </button>
            <button class="btn btn-filter" ng-model="filterBy" uib-btn-radio="'fetched'">
                Fetched <span class="badge" ng-if="summary.fetched" ng-bind="summary.fetched"></span>
            </button>
            <button class="btn btn-filter" ng-model="filterBy" uib-btn-radio="'ignored'">
                Ignored <span class="badge" ng-if="summary.ignored" ng-bind="summary.ignored"></span>
            </button>
            <button class="btn btn-filter" ng-model="filterBy" uib-btn-radio="'redirected'">
                Redirected <span class="badge" ng-if="summary.redirected" ng-bind="summary.redirected"></span>
            </button>
            <button class="btn btn-filter" ng-model="filterBy" uib-btn-radio="'scheduled'">
                Scheduled <span class="badge" ng-if="summary.scheduled" ng-bind="summary.scheduled"></span>
            </button>
            <button class="btn btn-filter" ng-model="filterBy" uib-btn-radio="'all'">
                All <span class="badge" ng-if="summary.all" ng-bind="summary.all"></span>
            </button>
        </div>
    </div>

    <h1 class="text-center"
        style="color: white;">
        Web Pages
    </h1>


    <table class="table table-bordered"
           style="background-color: white;">
        <thead>
        <th ng-repeat="field in fields"
            style="cursor: pointer;" class="hidden-xs">
            {{field|capitalize}}
        </th>
        <th class="visible-xs">
            Platform (Status)<br/>
            <span class="text-info">Web Pages Data</span>
        </th>
        </thead>
        <tbody>
        <tr ng-repeat="doc in pages"
            ng-class="{'last-row': $last}">
            <td ng-repeat="field in fields" class="hidden-xs">
                <div>
                    {{(dates.indexOf(field) > -1) ? (doc[field]|date:'shortDate') : doc[field]}}
                </div>
            </td>
            <td class="visible-xs">
                {{doc.platform}} ({{doc.status}})
                <div class="text-info">
                    <button class="btn-link"
                            ng-click="doc.showData = !doc.showData;">
                        {{doc.showData ? 'Hide' : 'Show'}}
                    </button>
                    <pre ng-if="doc.showData">{{doc.data|json}}</pre>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>