<!-- Dashboard -->

<!-- Jumbo 1 -->
<div class="jumbotron"
     style="background: #677F71; margin-bottom: 0;">

    <!-- Title -->
    <h1 class="text-center"
        style="color: whitesmoke;">
        Dashboard
    </h1>

    <!-- User Account Alerts -->
    <div ng-include="'modules/main/dashboard/parts/user-alerts.html'"
         class="container"
         style="margin-bottom: 0;">
    </div>

</div>

<!-- Jumbo 2 -->
<div class="jumbotron"
     style="background: #334039; margin-bottom: 0;">

    <!-- Development Buttons -->
    <div ng-if="envVar.SERVER === 'local' || envVar.PORT === '3000'"
         ng-include="'modules/main/dashboard/parts/dev-buttons.html'"
         class="text-center"
         style="background: #334039;">
    </div>

    <!-- Success / Error Messages -->
    <div ng-include="'modules/main/dashboard/parts/messages.html'"
         class="container">
    </div>

</div>

<!-- Form -->
<div ng-include="'modules/main/dashboard/parts/form.html'"
     class="jumbotron text-center"
     style="background: #9ABFAA;">
</div>

<!-- Metrics -->
<div ng-if="analysis"
     ng-include="'modules/main/dashboard/parts/metrics.html'"
     class="container">
</div>

<!-- Heatmap -->
<div ng-include="'modules/main/dashboard/parts/map.html'"
     class="container">
</div>