<!-- Navigation Bar -->

<nav class="navbar navbar-default"
     style="margin-bottom: 0;">
    <div class="container-fluid">

        <!-- brand & toggle for mobile -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    ng-click="toggleNavbar()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href ui-sref="home">
                Signal in the Noise
            </a>
        </div>

        <!-- navbar buttons, dropdowns, etc -->
        <div class="collapse navbar-collapse" id="navbar-collapse">

            <!-- dashboard & tables -->
            <ul class="nav navbar-nav"
                ng-if="user.username">
                <li ui-sref-active="active"><a href ui-sref="dashboard">Dashboard</a></li>
                <li class="dropdown" uib-dropdown>
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                        Tables <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li ng-repeat="table in tables">
                            <a href ui-sref="{{table.state}}">{{table.name}}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                        Graphs <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li ng-repeat="graph in graphs">
                            <a href ui-sref="{{graph.state}}">{{graph.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- user drop down -or- sign up / login buttons -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" uib-dropdown
                    ng-if="user.username">
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                        {{user.username}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li><a href ui-sref="user.settings">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" ng-click="logout($event)">Logout</a></li>
                    </ul>
                </li>
                <li ui-sref-active="active"
                    ng-if="!user.username">
                    <a href ui-sref="user.signup">Sign Up</a>
                </li>
                <li ui-sref-active="active"
                    ng-if="!user.username">
                    <a href ui-sref="user.login">Login</a>
                </li>
            </ul>

        </div>
    </div>
</nav>