<!-- Social Seeds Table -->

<div class="container">

    <!-- Filter By Buttons -->
    <div>
        <button class="btn btn-success pull-right" style="margin-bottom: 5px;" ng-click="create()">Create</button>
        <div class="btn-group">
            <button class="btn btn-filter" ng-model="filterBy" uib-btn-radio="'active'">
                Active <span class="badge" ng-if="summary.active" ng-bind="summary.active"></span>
            </button>
            <button class="btn btn-filter" ng-model="filterBy" uib-btn-radio="'pending'">
                Pending <span class="badge" ng-if="summary.pending" ng-bind="summary.pending"></span>
            </button>
            <button class="btn btn-filter" ng-model="filterBy" uib-btn-radio="'never'">
                Never <span class="badge" ng-if="summary.never" ng-bind="summary.never"></span>
            </button>
            <button class="btn btn-filter" ng-model="filterBy" uib-btn-radio="'all'">
                All <span class="badge" ng-if="summary.all" ng-bind="summary.all"></span>
            </button>
        </div>
    </div>

    <!-- Table (desktop & mobile) -->
    <h1 class="text-center">Social Seeds</h1>
    <div class="text-center" ng-if="showPullBtns">
        <button class="btn btn-default" style="margin-bottom: 5px;" ng-click="pullTwitter()">Pull Twitter</button>
        <button class="btn btn-default" style="margin-bottom: 5px;" ng-click="pullFacebook()">Pull Facebook</button>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <th class="hidden-xs"
                ng-repeat="field in fields">
                {{field|capitalize}}
            </th>
            <th class="visible-xs">
                Title <br/>
                <span class="text-info">Platform</span>
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="seed in seeds"
                ng-class="{'last-row': $last}"
                ng-click="edit(seed)"
                style="cursor:pointer;">
                <td ng-repeat="field in fields" class="hidden-xs">
                    {{(dates.indexOf(field) > -1) ? (seed[field]|date:'shortDate') : seed[field]}}
                </td>
                <td class="visible-xs">
                    {{seed.title}} <br/>
                    <span class="text-info">{{seed.platform}}</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>