<!-- Social Seeds Table -->

<div class="container">

    <!-- Create Button -->
    <div class="container">
        <button ng-click="create()"
                class="btn btn-success pull-right">
            Create
        </button>
    </div>

    <!-- Title -->
    <h1 class="text-center">Social Seeds</h1>

    <!-- Filter By Status Buttons -->
    <div class="text-center" style="margin: 5px 0;">
        <div class="btn-group">
            <button ng-repeat="status in filterByStatuses"
                    ng-model="filterBy.status"
                    class="btn" ng-class="{'btn-filter': platform !== 'all'}"
                    uib-btn-radio="status">
                {{status|capitalize}} <span class="badge" ng-if="summary[status]" ng-bind="summary[status]|roughNumber"></span>
            </button>
        </div>
    </div>

    <!-- Filter By Platform Buttons -->
    <div class="text-center" style="margin: 5px 0;">
        <div class="btn-group">
            <button ng-repeat="platform in filterByPlatforms"
                    ng-model="filterBy.platform"
                    class="btn" ng-class="{'btn-filter': platform !== 'all'}"
                    uib-btn-radio="platform">
                {{platform|capitalize}} <span class="badge" ng-if="summary[platform]" ng-bind="summary[platform]|roughNumber"></span>
            </button>
        </div>
    </div>

    <!-- Filter By Type Buttons -->
    <div ng-if="filterBy.platform && filterBy.platform !== 'all'"
         class="text-center" style="margin: 5px 0;">
        <div class="btn-group">
            <button ng-repeat="type in filterByTypes[filterBy.platform]"
                    ng-model="filterBy.type"
                    class="btn" ng-class="{'btn-filter': type !== 'all'}"
                    uib-btn-radio="type">
                {{type|capitalize}}
                <span class="badge" ng-if="summary[filterBy.platform+'-'+type]" ng-bind="summary[filterBy.platform+'-'+type]|roughNumber"></span>
                <span class="badge" ng-if="type === 'all' && summary[filterBy.platform]" ng-bind="summary[filterBy.platform]|roughNumber"></span>
            </button>
        </div>
    </div>

    <!-- Table (desktop & mobile) -->

    <table class="table table-bordered table-hover" style="margin-top: 15px;">
        <thead>
            <th class="hidden-xs"
                ng-repeat="field in fields">
                {{field|capitalize}}
            </th>
            <th class="visible-xs">
                Title <br/>
                <span class="text-info">Platform</span>
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="seed in seeds"
                ng-class="{'last-row': $last}"
                ng-click="edit(seed)"
                style="cursor:pointer;">
                <td ng-repeat="field in fields" class="hidden-xs">
                    <div ng-if="['type'].indexOf(field) < 0">
                        {{(dates.indexOf(field) > -1) ? (seed[field]|date:'shortDate') : seed[field]}}
                    </div>
                    <div ng-if="field === 'type'">
                        {{seed[seed.platform].type}}
                    </div>
                </td>
                <td class="visible-xs">
                    {{seed.title}} <br/>
                    <span class="text-info">{{seed.platform}}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- no results -->
    <div ng-if="!status.processing && (!seeds || !seeds.length)"
         class="text-center">
        - No Social Seeds - <br/>
        (
        status={{filterBy.status}}
        {{(filterBy.platform) ? ' / platform='+filterBy.platform : ''}}
        {{(filterBy.type) ? ' / type='+filterBy.type : ''}}
        )
    </div>

    <!-- spinner -->
    <div ng-if="status.processing" class="spinner"></div>

</div>