<div class="btn-group"
     style="margin: 0 2px 0;">
    <button ng-click="pullTwitter()"
            class="btn btn-default">
        Pull Twitter
    </button>
    <button ng-click="pullFacebook()"
            class="btn btn-default">
        Pull Facebook
    </button>
</div>
<div class="btn-group"
     style="margin: 0 2px 0;">
    <button ng-click="processNgrams()"
            class="btn btn-default">
        Process Ngrams
    </button>
    <button ng-click="processSentiment()"
            class="btn btn-default">
        Process Sentiment
    </button>
</div>
<div class="btn-group"
     style="margin: 0 2px 0;">
    <button ng-click="initDistricts()"
            class="btn btn-default">
        Init Districts
    </button>
    <button ng-click="initTopics()"
            class="btn btn-default">
        Init Topics
    </button>
</div>