<!-- Success Messages -->
<div ng-if="successMessages.length">
    <div ng-repeat="message in successMessages"
         class="alert alert-success"
         style="margin: 10px 0;">
        <span ng-click="closeSuccessMessage($index)"
              class="close">
            &times
        </span>
        {{message}}
    </div>
</div>

<!-- Error Messages -->
<div ng-if="errorMessages.length">
    <div ng-repeat="message in errorMessages"
         class="alert alert-danger"
         style="margin: 10px 0;">
        <span ng-click="closeErrorMessage($index)"
              class="close">
            &times
        </span>
        <span ng-bind-html="message"></span>
    </div>
</div>