<!-- count -->
<h3>Summary</h3>
<span ng-if="status.processingAnalysis" class="spinner-sm"></span>
<div ng-if="!status.processingAnalysis && analysis.$resolved && analysis.count">
    <ul>
        <li>documents analyzed = {{analysis.count}}</li>
        <li>average sentiment = {{analysis.sentiment.average|percentage}}</li>
    </ul>
</div>
<div ng-if="!status.processingAnalysis && analysis.$resolved && !analysis.count">
    No Documents Analyzed
</div>

<!-- sentiment -->
<h3>Sentiment</h3>
<span ng-if="status.processingAnalysis" class="spinner-sm"></span>
<div ng-if="!status.processingAnalysis && analysis.$resolved && analysis.sentiment">
    <div class="btn-group"
         style="width: 100%;">
        <button ng-repeat="option in sentimentOptions"
                ng-click="getMediaPreview(option)"
                class="btn btn-default"
                ng-style="{'background-color': sentimentConfig[option].color, width: getSentimentWidth(option)}"
                style="height: 100px; min-width: 5%; max-width: 80%;">
            {{sentimentConfig[option].title}}<br>{{(analysis.sentiment[option]/analysis.count)|percentage}}
        </button>
    </div>
</div>
<div ng-if="!status.processingAnalysis && analysis.$resolved && !analysis.sentiment">
    No Sentiment Results
</div>

<!-- ngrams -->
<h3>Ngrams</h3>
<span ng-if="status.processingAnalysis" class="spinner-sm"></span>
<div ng-if="!status.processingAnalysis && analysis.$resolved && analysis.ngrams"
     class="row">
    <div ng-repeat="option in sentimentOptions"
         class="col-xs-4">
        <button ng-repeat="ngram in analysis.ngrams[option].all | orderBy: '-frequency' | limitTo: 50"
                ng-click="getMediaPreview(option, ngram.word)"
                ng-style="{'background-color': sentimentConfig[option].color, '-webkit-filter': sentimentConfig[option].filter(1 / (analysis.ngrams[option].maxFreq - analysis.ngrams[option].minFreq) * (ngram.frequency - analysis.ngrams[option].minFreq))}"
                class="btn btn-default small"
                style="margin: 1px;">
            {{ngram.word}}
        </button>
    </div>
</div>
<div ng-if="!status.processingAnalysis && analysis.$resolved && !analysis.ngrams">
    No Ngram Results
</div>