<!-- Social Seed Edit Modal -->

<!-- Close Modal Button -->
<div class="modal-header">
    <span class="close" ng-click="cancel()">&times;</span>
    <h3 class="modal-title">Edit Social Seed</h3>
</div>

<!-- Social Seed Info & History -->
<div class="modal-body">

    <!-- Social Seed Info Table -->
    <table class="table table-bordered">
        <tbody>
            <tr ng-repeat="field in fields">
                <td><strong>{{field|capitalize}}</strong></td>
                <td>
                    <span ng-if="field === 'title' && seed.facebook">
                        <a ng-href="https://facebook.com/{{seed.facebook.id}}"
                           target="_blank"
                           data-toggle="tooltip" title="view on facebook">
                            {{seed.title}}
                        </a>
                    </span>
                    <span ng-if="field === 'title' && seed.twitter">
                        <a ng-href="https://twitter.com/search?f=tweets&q={{getQuery(seed.query)}}"
                           target="_blank"
                           data-toggle="tooltip" title="view on twitter">
                            {{seed.title}}
                        </a>
                    </span>
                    <span ng-if="field === 'frequency'">
                        <select class="form-control" style="cursor:pointer;" required
                                ng-model="seed.frequency">
                            <option value="hourly" >hourly</option>
                            <option value="daily">daily</option>
                            <option value="weekly">weekly</option>
                            <option value="never">never</option>
                        </select>
                    </span>
                    <span ng-if="['title', 'frequency'].indexOf(field) < 0">
                        {{(dates.indexOf(field) > -1) ? (seed[field]|date:'shortDate') : seed[field]}}
                    </span>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Show/Hide Pull History -->
    <div class="text-center">
        <a ng-if="!showHistory" ng-click="toggleHistory()"
           style="cursor:pointer;">
            View Pull History
        </a>
        <a ng-if="showHistory" ng-click="toggleHistory()"
           style="cursor:pointer;">
            Hide Pull History
        </a>
    </div>
    <div ng-if="showHistory">
        <div class="well" style="margin: 5px 0;">
            <p ng-if="!fullSeed.$resolved"
               class="text=center">
                ...please wait...
            </p>
            <p ng-if="fullSeed.$resolved && !fullSeed.history || !fullSeed.history.length"
               class="text-center">
                - no pull history -
            </p>
            <table ng-if="fullSeed.$resolved && fullSeed.history && fullSeed.history.length"
                   class="table">
                <thead>
                    <th>Date</th>
                    <th>New Media</th>
                    <th>Total Media</th>
                </thead>
                <tbody>
                    <tr ng-repeat="history in fullSeed.history">
                        <td>{{history.date|date}}</td>
                        <td>{{history.new}}</td>
                        <td>{{history.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Save & Delete Buttons -->
<div class="modal-footer">
    <div class="row" style="margin: 0;">
        <div class="col-xs-6" style="padding: 0 2px 0 0;">
            <button class="btn btn-block btn-success"
                    ng-click="save()">
                Save
            </button>
        </div>
        <div class="col-xs-6" style="padding: 0 2px 0 0;">
            <button class="btn btn-block btn-danger"
                    ng-click="delete()">
                Delete
            </button>
        </div>
    </div>
    <div ng-if="confirmDelete"
         class="alert alert-danger text-center" style="margin-top: 10px;">
        <p>Are you sure you want to delete this social seed?</p>
        <div class="btn-group" style="margin-top:10px;">
            <button class="btn btn-danger" ng-click="delete(true)">Yes</button>
            <button class="btn btn-default" ng-click="delete()">No</button>
        </div>
    </div>
</div>