<!-- Social Media Download Modal -->

<!-- Modal Title & Close Button -->
<div class="modal-header">
    <span class="close" ng-click="cancel()">&times;</span>
    <h3 class="modal-title">Download Social Media Data</h3>
</div>

<!-- Download Tabs -->
<div class="modal-body">
    <uib-tabset active="activeTabIndex">
        <uib-tab ng-repeat="tab in tabs"
                 index="$index" heading="{{(tab.display) ? tab.display : tab.name|capitalize}}">
            <div ng-include="'modules/main/social-media/download/form/'+tab.name+'.html'"
                 style="border: 1px #ddd solid; padding: 15px 10px; border-top-color: transparent; margin-bottom: 15px;">
            </div>
        </uib-tab>
    </uib-tabset>
</div>

<!-- Download Button -->
<div ng-hide="status.processing || (activeTab.name === 'districts.by.state' && !params.state)"
     class="modal-footer">
    <div class="text-center">
        <button class="btn btn-success"
                ng-click="download()">
            Download
        </button>
    </div>
</div>