<!-- Create Social Seed Modal -->

<div class="modal-header">
    <span class="close" ng-click="cancel()">&times;</span>
    <h3 class="modal-title">Create Social Seed</h3>
</div>

<div class="modal-body">
    <uib-tabset active="activePlatform">
        <uib-tab ng-repeat="platform in platforms"
                 index="$index" heading="{{platform|capitalize}}">
            <div ng-include="'modules/main/social-seeds/create/form/'+platform+'.html'"
                 style="border: 1px #ddd solid; padding: 15px 10px; border-top-color: transparent; margin-bottom: 15px;">
            </div>
        </uib-tab>
    </uib-tabset>
</div>