<!-- Create Twitter District -->

<form ng-submit="save()">

    <div class="form-group">
        <label>query string</label>
        <div class="input-group">
            <input type="text" class="form-control" required
                   ng-model="district.twitter.query"
                   placeholder="@username or #hashtag"/>
            <span class="input-group-btn">
                <a href="https://dev.twitter.com/rest/public/search"
                   target="_blank"
                   class="btn btn-default">
                    <i class="glyphicon glyphicon-question-sign"></i>
                </a>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label>pull frequency</label>
        <select class="form-control" required
                ng-model="district.frequency">
            <option value="hourly">hourly</option>
            <option value="daily">daily</option>
            <option value="weekly">weekly</option>
        </select>
    </div>

    <div style="text-align: center;">
        <button class="btn btn-success" type="submit">Create Twitter District</button>
    </div>

</form>