<div class="modal-header">
    <button type="button" class="close"
            data-ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>

    <h3 class="modal-title" data-ng-bind="rejection.header"></h3>
</div>

<div class="modal-body">
    <p data-ng-bind-html="rejection.message"></p>
    <p data-ng-if="rejection.status"><small class="text-muted">Error Code: {{rejection.status}}</small></p>
</div>

<div class="modal-footer"
     data-ng-if="rejection.retry">
    <button type="button" class="btn btn-default" data-ng-click="retry()">
        Retry
    </button>
</div>
